<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/logo-light.png" alt="logo" width="528" height="156"></a>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/bathrooms">Galleries</a>
                    </li>
                    <li>
                        <a href="/reviews">Reviews</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li>Kitchen Remodeling</li>
                    <li>Bathroom Remodeling</li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="tel:321-477-4498">Eau Gallie Blvd, Melbourne, FL<br>Melbourne BRE 32901</a>
                    </li>
                    <li>
                        <a href="tel:321-477-4498">T: (321) 477-4498</a>
                    </li>
                    <li>
                        <a href="mailto:email@email.com">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="mailto:jonathannmaynard@gmail.com">Jonathan Maynard</a>
        <span class="copyright"> Copyright 2024 - Present</span>
    </div>
</footer>